@import "shared/styles";

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.LoadingStatus {
  border: 16px solid #D5E6C4;;
  border-top: 16px solid #417339;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
