@import "shared/styles";

.CorrectData {
	display: flex;
	border-radius: 10px;
	background: #D5E6C4;
	width: 200px;
	height: 32px;
	align-items: center;
	justify-content: center;
}

.t4 {
	font-size: 15px;
}
